<div class="new-post-block">
    <h2 id="editor-title">Post your car</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Mark and model:</h1>
                <input type="text" value=""  id="title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Owner:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">About your car:</h1>
        <textarea class="content-field" placeholder="Content" id="content"></textarea>
        <br>
        <button type="button" id="create-new-post-request-button">Publish</button>
    </form>
</div>

<footer>
    <p class="footer-text">Okan Ibryam</p>
</footer>